.account-h1 {
	text-align: center;
	margin: 1em;
}

.account-div {
	margin: 2em;
}

.account-h2 {
	margin-bottom: 1em;
}

.account-h3 {
	text-align: center;
}

.center-table-account {
	text-align: center;
}