.site {
    border: grey solid 2px;
    padding: 1em;
    margin: 0;
    text-align: center;
}

.navbar {
    padding-top: 3em;
    margin: 0;
}

.navbar-form {
    display: flex;
    flex-direction: row;
}
