.site {
    padding: 1em;
    margin: 0;
    text-align: center;
}

.navbar {
    padding-top: 3em;
    margin: auto;
    max-width: 80%;
}

.navbar-nav {
    margin: 0;
}

.navbar-form {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.signUp {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.links {
    padding-top: 2.5em;
}

.logLink {
    padding: 1em;
    margin: 0;
}

.gallery-title {
    color: grey;
    margin: 0;
    text-align: center;
}

.row.bloc1, .row.title {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.row.bloc2 {
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.product-item {
    position: relative;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.item {
    position: relative;
}

.item.img {
    padding-bottom: 1.5em;
}
