body{
  max-width: 95vw;
  padding:0;
  margin:0;
}

h1 > a {
  text-decoration: none;
  color: grey;
}

h1 > a:hover {
  color: grey;
  text-decoration-line: none;
}

.site {
    padding: 1em;
    margin: 0;
    text-align: center;
}

.navbar {
    padding-top: 3em;
    margin: auto;
    max-width: 80%;
}

.navbar-nav {
    margin: 0;
}

.navbar-form {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.signUp {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.home-title{
  font-size: 1.4em;
}

.home-product-stock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-danger {
  font-size: 80%;
}

.home-product-stock > h4 {
    margin: 0.5em;
}

.links {
    padding-top: 2.5em;
}

.logLink {
    padding: 1em;
    margin: 0;
}

.gallery-title {
    color: grey;
    margin: 0;
    text-align: center;
}

.row.bloc1, .row.title {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.row.bloc2 {
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.product-item {
    position: relative;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.img-small {
    max-width: 50%;
    max-height: 50%;
}

.item {
    position: relative;
}

.item.img {
    padding-bottom: 1.5em;
}
