.order-h1 {
	text-align: center;
	margin: 1em;
}

.cart-div {
	margin: 2em;	
}

.order_infos_col {
	margin: 2em;
}

.order_paiement_col {
	margin: 2em;
}

.order_price_div {
	font-size: 1.5em;
}

.order_h2 {
	margin-bottom: 1em;
}

.order_h5 {
	margin-bottom: 1em;
}